nav {
  position: fixed;
  left: calc(calc(100vw - calc(6 * 4rem)) / 2);
  bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

  width: calc(6 * 4rem);

  .navbar_btn {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 4rem;
      width: 4rem;

      background-color: #fff;

      border-radius: 0.75rem;

      user-select: none;

      transition: 0.15s ease-in-out;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &:hover {
          background-color: #fa6e85;
          cursor: pointer;
      }
  }
}